.main {
  height: 490px;
  width: 100%;
  background-image: url('../../../public/main.png');
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  position: relative;
}

.all_info_for_main {
  width: 72%;
  margin: 0 auto;
}

.button_country {
  background-color: rgba(0, 0, 0, 0.4);
  outline: none;
  border: none;
  width: 9%;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  height: 30px;
  border-radius: 5px;
  position: relative;
  top: 30px;
  cursor: pointer;
}

.country {
  font-size: 15px;
  margin-left: 10px;
}
